.about-me {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 40px;
}

.about-me_left h1 {
    margin-bottom: 20px;
}

.stars {
    margin-bottom: 20px;
}

.about-me_right {
    text-align: right;
}